<!DOCTYPE HTML>
<html lang="en">

<html>
<body bgcolor="#00FF00">
<center><h1>{{ posts[1] }}'s Profile</h1></center>

<center><h2>Email id: {{ posts[2] }}</h2></center>
<center><h2>contact no: {{ posts[4] }}</h2></center>
<center>
	<button type="submit" onclick="location.href='http://127.0.0.1:5000/search'" name="button" value="issue_book_button">Your book issued History</button>
</center>

<br>
<br>
<br>

<table border="1" align="center" cellpadding="5" cellspacing="5">
<tr>
	<center>
		<h2>Library Book Isuue Section</h2>
	</center>
	
</tr>
<tr>
	<td>
		<button type="submit" onclick="location.href='http://127.0.0.1:5000/search'" name="button" value="issue_book_button">Issue Book</button>
		<button type="submit" onclick="location.href='http://127.0.0.1:5000/adminlogin/returnbook'" name="button" value="return_book_button">Return Book</button>
		<button type="submit" onclick="location.href='http://127.0.0.1:5000//adminlogin/userhistory'" name="button" value="user_history_button">User History</button>
	</td>
	
</tr>
</table>






</body>
</html>