<!DOCTYPE html>
<html>
<head>
  <title>Login </title>
</head>
<body bgcolor="cyan">
<div>
  <a href="{{url_for('welcome')}}"><i class="fa fa-fw fa-envelope"></i>Home Page</a>
  <a href="{{url_for(stringvalue[4])}}"><i class="fa fa-fw fa-envelope"></i>{{ stringvalue[3] }}</a>
  <a href="{{url_for('add_user')}}"><i class="fa fa-fw fa-envelope"></i>User Signup</a>
</div>
<div>
  <center>
    <h1>Dummy Library</h1>
  </center>
  <br>
  <center>
    <h2>{{ stringvalue[2] }} Login</h2>
  </center>  
   <form method="POST" action="">
    <table border="1" align="center" cellpadding="5" cellspacing="5">
      <tr>
        {{form.hidden_tag()}}
     <!-- <fieldset class = "form-group"> -->
        <td>
           <div class = "form-group">
         {{form.name.label(class="form-control-label")}}
         {{form.name(class="form-control form-control-lg")}}
       </div>
        </td>
        <td>
          <div class = "form-group">
         {{form.password.label(class="form-control-label")}}
         {{form.password(class="form-control form-control-lg")}}
       </div>
        </td>     
     <!-- </fieldset>         -->
      </tr>
    </table>
    <br>
    <center>
      <div class="form-group">
       {{form.submit(class="btn btn-outline-info")}}
     </div>
    </center>
    <center>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <p> <font color="#FF0000">
      {% for message in messages %}
      {{ message }}
    {% endfor %}
  </font>
    </p>    
  {% endif %}
{% endwith %}
  </center>
     
   </form>
   <br>
   <br>
</div>
<div class="border-top pt-3">
  <center>
    <small class="text-muted">
    {{ stringvalue[0] }}? <a class="ml-2" href="{{url_for('add_user')}}">{{ stringvalue[1] }}</a>
  </small>
  </center>
  
  
</div>
</body>
</html>

