<!DOCTYPE html>
<html>
<head>
  <title>Register </title>
</head>
<body>
<div>
   <a href="{{url_for('welcome')}}"><i class="fa fa-fw fa-envelope"></i>Home Page</a>
  <a href="{{url_for(stringvalue[4])}}"><i class="fa fa-fw fa-envelope"></i>{{ stringvalue[3] }}</a>
  <a href="{{url_for('login_user')}}"><i class="fa fa-fw fa-envelope"></i>User Sigin</a>
</div>
<div>
  <center>
    <h1>Dummy Library</h1>
  </center>
  <br>
  <center>
    <h2>{{ stringvalue[2] }} Sign Up</h2>
  </center>
   <form method="POST" action="">
    <table border="1" align="center" cellpadding="5" cellspacing="5">

     {{form.hidden_tag()}}
     <!-- <fieldset class = "form-group"> -->
      <tr>
        <td>
          <div class = "form-group">
         {{form.entryNumber.label(class="form-control-label")}}
         </td>
          <td>
         {{form.entryNumber(class="form-control form-control-lg")}}
       </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class = "form-group">
         {{form.name.label(class="form-control-label")}}
         </td>
          <td>
         {{form.name(class="form-control form-control-lg")}}
       </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class = "form-group">
         {{form.password.label(class="form-control-label")}}
       </td>
       <td>
         {{form.password(class="form-control form-control-lg")}}
       </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class = "form-group">

         {{form.emailId.label(class="form-control-label")}}
         </td>
          <td>
         {{form.emailId(class="form-control form-control-lg")}}
       </div>
        </td>
      </tr>   
      </table>
      <br>
      <br>
      <center>
        <div class="form-group">
      
       {{form.submit(class="btn btn-outline-info")}}
     </div>
      </center>
     <!-- </fieldset> -->
     
   </form>
   <center>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <p> <font color="#FF0000">
      {% for message in messages %}
      {{ message }}
    {% endfor %}
  </font>
    </p>    
  {% endif %}
{% endwith %}
  </center>
</div>
  <br>
<div class="border-top pt-3">
  <center>
    <small class="text-muted">
    {{ stringvalue[0] }}? <a class="ml-2" href="{{url_for('login_user')}}">{{ stringvalue[1] }}</a>
  </small>
  </center>
  
  
</div>
</body>
</html>

