<!DOCTYPE HTML>
<html lang="en">

<html>
<body bgcolor="87ceeb">
	<div class="navbar">
 <a href="{{url_for('user')}}"><i class="fa fa-fw fa-user"></i> My Profile</a>
  <a href="{{url_for('logout')}}"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>
<center><h1>Library Management System</h1></center>

<center><h2>Search Here</h2></center>

<form method="post">
<table border="2" align="center" cellpadding="5" cellspacing="5">
		<tr>
			<td>Search by</td>
			<td>
				<label class="container">Title
				  <input type="radio" checked="checked" name="searchbyradio" value="title" id="title">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Author
				  <input type="radio" name="searchbyradio" value="author" id="author">
				  <span class="checkmark"></span>
				</label>
				<label class="container">ISBN
				  <input type="radio" name="searchbyradio" value="isbn" id="isbn">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Publisher
				  <input type="radio" name="searchbyradio" value="publisher" id="publisher">
				  <span class="checkmark"></span>
				</label>
				<label class="container">BibNumber
				  <input type="radio" name="searchbyradio" value="bibnum" id="bibnumber">
				  <span class="checkmark"></span>
				</label>
			</td>
		</tr>
	</table>
<table border="2" align="center" cellpadding="5" cellspacing="5">
<tr>
<td> Enter Here:</td>
<td> <input class="form-control" type="text" name="book_name" placeholder="Enter book name" id="book_name" size="48"> </td>
</tr>
<td></td>
<td>
<input type="submit" value="submit">
<input type="reset" value="Reset">
</td>
</tr>
</table>
</form>
 <center>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <p> <font color="#FF0000">
      {% for message in messages %}
      {{ message }}
    {% endfor %}
  </font>
    </p>    
  {% endif %}
{% endwith %}
  </center>
<table border="2" align="center" cellpadding="5" cellspacing="5">
<tr>
		
		{%for post in posts%}
		<tr>
			<td>
				<h1> {{ post[2] }}</h1>
				<a href="/bookdetails/{{post[0]}}"><p>Book Id: {{ post[0] }}</p></a>
				<p>Author: {{ post[3] }}</p>
				<p>ISBN: {{post[4]}}</p>
				<p>Publication Year: {{post[5]}}</p>
				<p>Item available: {{ post[13] }}</p>
			</td>	
			<td>
				<a href="/bookissues/{{post[0]}}">
				<button name="issue_button">Issue</button>
				</a>
			</td>
		</tr>
		{%endfor%}
	

	
</tr>
</table>
</body>
</html>