<!DOCTYPE HTML>
<html lang="en">

<html>
<body bgcolor="87ceeb">
<center><h1>Library Management System</h1></center>

<center><h2>Search Here</h2></center>
<!-- <h4>Search by</h4>
<label class="container">One
  <input type="radio" checked="checked" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Two
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Three
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
<label class="container">Four
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label> -->

<!-- <tr>
<form action="">
	<input type="radio" id="title" checked="checked" name="title" value="title">
	<span class="checkmark"></span>
	<label for="title">Title</label>
	<input type="radio" id="author" name="author" value="author">
	<span class="checkmark"></span>
	<label for="author">Author</label>
	<input type="radio" id="isbn" name="isbn" value="isbn">
	<span class="checkmark"></span>
	<label for="isbn">ISBN</label>
	<input type="radio" id="publisher" name="publisher" value="publisher">
	<span class="checkmark"></span>
	<label for="publisher">Publisher</label>
	<input type="radio" id="bibnumber" name="bibnumber" value="bibnumber">
	<span class="checkmark"></span>
	<label for="bibnumber">Bibnumber</label>
</form>
</tr> -->




<form method="post" onsubmit="">
	<table border="2" align="center" cellpadding="5" cellspacing="5">
		<tr>
			<td>Search by</td>
			<td>
				<label class="container">Title
				  <input type="radio" checked="checked" name="radio" value="title" id="title">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Author
				  <input type="radio" name="radio" value="author" id="author">
				  <span class="checkmark"></span>
				</label>
				<label class="container">ISBN
				  <input type="radio" name="radio" value="isbn" id="isbn">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Publisher
				  <input type="radio" name="radio" value="publisher" id="publisher">
				  <span class="checkmark"></span>
				</label>
				<label class="container">BibNumber
				  <input type="radio" name="radio" value="bibnumber" id="bibnumber">
				  <span class="checkmark"></span>
				</label>
			</td>
		</tr>
	</table>
</form>

<form method="post">
<table border="2" align="center" cellpadding="5" cellspacing="5">
<tr>
<td> Enter Here:</td>
<td> <input class="form-control" type="text" name="book_name" placeholder="Enter book name" id="book_name" size="48"> </td>
</tr>
<td></td>
<td>
<input type="submit" value="submit">
<input type="reset" value="Reset">
</td>
</tr>
</table>
</form>
<!-- <form method="POST">

                <label for="name">Book Name</label>
                <div class="form-row">
                    <input class="form-control" type="text" placeholder="Name of Book" id="name" name="name">
                </div>
                <br>
                <div class="form-row">
                    <label for="author">Author</label>
                    <input class="form-control" type="text" placeholder="Author Name" id="author" name="author">
                </div>
                <br>
                <div class="form-row ">
                    <label for="published">Published</label>
                    <input class="form-control " type="date" placeholder="Published" id="published" name="published">
                </div>

                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Submit</button>
            
            </form> -->
</body>
</html>