<!DOCTYPE HTML>
<html lang="en">

<html>
<body bgcolor="87ceeb">
<center><h1>Library Management System</h1></center>

<center><h2>Search Here</h2></center>

<form method="post">
<table border="2" align="center" cellpadding="5" cellspacing="5">
		<tr>
			<td>Search by</td>
			<td>
				<label class="container">Title
				  <input type="radio" checked="checked" name="searchbyradio" value="title" id="title">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Author
				  <input type="radio" name="searchbyradio" value="author" id="author">
				  <span class="checkmark"></span>
				</label>
				<label class="container">ISBN
				  <input type="radio" name="searchbyradio" value="isbn" id="isbn">
				  <span class="checkmark"></span>
				</label>
				<label class="container">Publisher
				  <input type="radio" name="searchbyradio" value="publisher" id="publisher">
				  <span class="checkmark"></span>
				</label>
				<label class="container">BibNumber
				  <input type="radio" name="searchbyradio" value="bibnum" id="bibnumber">
				  <span class="checkmark"></span>
				</label>
			</td>
		</tr>
	</table>
<table border="2" align="center" cellpadding="5" cellspacing="5">
<tr>
<td> Enter Here:</td>
<td> <input class="form-control" type="text" name="book_name" placeholder="Enter book name" id="book_name" size="48"> </td>
</tr>
<td></td>
<td>
<input type="submit" value="submit">
<input type="reset" value="Reset">
</td>
</tr>
</table>
</form>
<table border="2" align="center" cellpadding="5" cellspacing="5">
<tr>
		
		{%for post in posts%}
		<tr>
			<td>
				<h1> {{ post[1] }}</h1>
				<p>Author: {{ post[2] }}</p>
				<p>ISBN: {{post[3]}}</p>
				<p>Year: {{post[4]}}</p>
			</td>	
			<td>
				<a href="http://127.0.0.1:5000//bookissues/{{post[3]}}">
				<button name="issue_button">Issue</button>
				</a>
			</td>
		</tr>
		{%endfor%}
	

	
</tr>
</table>
</body>
</html>