
<!-- Load an icon library -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 -->



<!DOCTYPE html>
<html>
<head>
  <title>User Profile </title>
</head>
<body>
  <div class="navbar">
     <a href="#"><i class="fa fa-fw fa-envelope"></i> Search</a>
  <a class="active" href="#"><i class="fa fa-fw fa-home"></i> My Account</a>
  <!-- <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> -->
 
  <a href="#"><i class="fa fa-fw fa-user"></i> Logout</a>
</div>

	{% block content %}
    <h1>User Name : {{ user[0][0] }}</h1>
    <hr>
    {% for post in posts %}
    <p>
    {{ post.author.username }} Issued Book: <b>{{ post.body }}</b>
    </p>
    <hr>
    {% endfor %}
{% endblock %}


</body>
</html> 